<article id="activations_new">
  <section class="content">
    <section class="interior p4">
			<%= form_for(@activation, url: admin_activations_url, method: :post) do |f| %>
				<%= render "form", f: f %>
				<%= f.submit :create %>
			<% end %>
    </section>
  </section>
</article>
