@import 'global/vars';
@import 'global/colors';
@import 'global/utils';
@import 'global/fonts';
@import 'global/styleguide';

// Global Components
@import 'components/header';
@import 'components/mobile-header';
@import 'components/mobile-header-content';
@import 'components/content';
@import 'components/column-img-left';
@import 'components/column-img-right';
@import 'components/footer';
@import 'components/double-border-box';
@import 'components/double-border-button';
@import 'components/double-border-box-faq';
@import 'components/faq-panel';
@import 'components/before-faq-panel';
@import 'components/email-sign-up';
@import 'components/body';
@import 'components/form';
@import 'components/things-happen-container';
@import 'components/donate-card';
@import 'components/activation-cards';
@import 'components/category-cards';
@import 'components/collapse-desktop-nav';
@import 'components/sub-header';

@import 'routes/account';
@import 'routes/donors-new';

html {
  -webkit-font-smoothing: antialiased;
}
* {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
