files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/export_docker_env_vars_on_host.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo Defaults:root \!requiretty >> /etc/sudoers
      > /etc/docker_env
      for envvar in `jq '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[] | .[]' /opt/elasticbeanstalk/deploy/configuration/containerconfiguration`
      do
        temp="${envvar%\"}";
        temp="${temp#\"}";
        echo $temp >> /etc/docker_env;
      done
  "/opt/elasticbeanstalk/hooks/configdeploy/post/export_docker_env_vars_on_host.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo Defaults:root \!requiretty >> /etc/sudoers
      > /etc/docker_env
      for envvar in `jq '.optionsettings | {"aws:elasticbeanstalk:application:environment"}[] | .[]' /opt/elasticbeanstalk/deploy/configuration/containerconfiguration`
      do
        temp="${envvar%\"}";
        temp="${temp#\"}";
        echo $temp >> /etc/docker_env;
      done
