<div class='clearfix account-page'>
  <div class='col col-12 py4 px3 flex flex-column items-center border-first-panel relative bc-white bg-notwhite min-panel-height' style='z-index:1'>
    <div class='things-happen-container py4 max-width-2'>
      <div class='things-happen-text'>
        <p class='sub-heading sofiabold pt2 pb2 dgray'>
          These things happen…
        </p>
        <p class='h6 sofiasemibold pb3 lgray'>
          Forgot your password? Confirm your email below and we will send you a reset link.
        </p>
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :class => "col col-12 flex py2 flex-column") do |f| %>
          <%= f.email_field :email, :autofocus => true, :placeholder => "Your email address",  :class => "email-enter col col-12 h5 my1 py1 border bg-notwhite sofiabold dgray" %>
          <input class='email-next h6 my1 py2 sofiabold white bg-velure full-width' type="submit" value="Send reset link">
        <% end %>
        <p class='h6 sofiasemibold pb3 lgray'>
          <a class='accent-color' href="/donate">No account? Donate here↳</a>
        </p>
      </div>
    </div>
  </div>

</div>
