<div class='sub-header activations center'>
  <% locals.each do |category| %>
    <div class='header-item pointer sofiabold inline-block p2 dgray' data-category="<%= category.id %>"><%= category.name %></div>
  <% end %>
   <div class='header-item pointer sofiabold inline-block p2 dgray' data-category="all">All</div>
</div>
