<div id="desktop_nav" class='header my2 flex justify-between dgray sofiabold'>
  <a class='text-decoration-none dgray flex items-center mx1' href="/">
    <p class='logo h4 nowrap'><%= Rails.application.secrets.name %></p>
  </a>
  <div class='nav-links flex max-width-2'>
    <a id='donate' class='donate-link text-decoration-none dgray flex items-center mx2' href="/donate">
      <div class='icons px2'></div>
      <p class='h6 donate'>Donate</p>
    </a>
    <a id='activation' class='volunteer-link text-decoration-none dgray flex items-center mx2' href="/volunteer">
      <div class='icons px2'></div>
      <p class='h6 activation'>Volunteer</p>
    </a>
    <a id='account' class='account-link text-decoration-none dgray flex items-center mx2' href="/account">
      <div class='icons px2'></div>
      <p class='h6 account'>Account</p>
    </a>
  </div>
</div>
