<div class='mobile-header-content bg-white dgray absolute flex justify-center items-center flex-column'>
  <a href='/donate' class='col col-12 text-decoration-none dgray py4 flex justify-center items-center flex-column'>
    <div class='icons py1' id='money-mobile'></div>
    <p class='donate h3 sofiabold'>Donate</p>
  </a>
  <a href='/volunteer' class='col col-12 text-decoration-none dgray py4 flex justify-center items-center flex-column'>
    <div class='icons py1' id='activation-mobile'></div>
    <p class='volunteer h3 sofiabold'>Volunteer</p>
  </a>
  <a href='/account' class='col col-12 text-decoration-none dgray py4 flex justify-center items-center flex-column'>
    <div class='icons py1' id='account-mobile'></div>
    <p class='account h3 sofiabold'>Account</p>
  </a>
</div>
