<div class='mobile-header py3 px2 flex justify-between items-center dgray sofiabold'>
 <a href='/' class='text-decoration-none dgray h3'>
   <%= Rails.application.secrets.name %>
 </a>
  <div class='mobile-menu-graphic'>
    <div class='bar'></div>
  </div>
</div>
