<div class='clearfix'>

  <div class='col col-12 py4 border-first-panel bc-white bg-svelte min-panel-height'>
    <div class='clearfix py4 px2 flex items-center mx-auto max-width-3'>
      <div class='col col-12 py4 flex flex-column center'>
        <p class='mx-auto h1 my0 sofiabold pb3 dgray'>Give One makes giving back to your community<span class='velure'> easy.</span></p>
        <p class='mx-auto h5 MuseoSans300 px2 pb3 lgray'>Connect with the charities and organizations you want to support - online with your wallet, and on the ground with your time.</p>
        <a href='/account'class="pulsate donate-activation-button text-decoration-none p2 nowrap mx-auto sofiabold bg-velure h6 white">Give Now</a>
      </div>
    </div>
  </div>

  <%= render "layouts/public/partials/image_left", locals: {
    img: "public/Hero-Give.png",
    headline: "Donate a small amount to causes ",
    headline_accent: "everyday.",
    copy: "Donate a small amount to causes everyday. Support and subscribe to the causes you believe in by making a small donation each day.",
    cta: "Donate now!"
  } %>

  <%= render "layouts/public/partials/image_right", locals: {
    img: "public/Volunteer.png",
    headline: "Go make a difference by ",
    headline_accent: "volunteering.",
    copy: "Join the NYC beta initiative of volunteering opportunities with local, credible community organizations.",
    cta: "Volunteer now!"
  } %>

  <div class='faq-panel col col-12 pb4 min-panel-height'>
    <div class='clearfix pb4 px2 mx-auto max-width-4'>
      <div class='double-border-box-faq biggest-box index-page-box p1 sofiasemibold'>
        <p class='box-inner-text sofiabold h4 dgray'>A platform for activisim</p>
        <p class='box-inner-text sofiabold h2 velure'>Give One is about getting involved in your community one day, and one cause at a time.</p>
      </div>
      <div class='faq-container'>
        <div class='faq-text-box'>
          <p class='faq-subheading sofiabold h4 dgray'>One is greater than one million</p>
          <p class='faq-text h5 lgray pt1'>
            "In the fundraising business, there’s an old axiom that 'one is greater than one million.' This isn’t bad math; it is a reminder that when it comes to people in need, one million is a statistic, while one is a human story.”
            <br/><span class='velure'>- Arthur C. Brooks</span>
          </p>
          <p class='faq-text h5 lgray pt1'>
            Towards the end of last year, a group of friends from different walks of life came together over a shared sense of wanting to give back.
          </p>
          <p class='faq-text h5 lgray pt1'>
            Consistent with Brooks’ idea, we wanted to focus on helping the individuals who make up our own community; however, we found it challenging to identify, connect to, and participate with the organizations around us in a meaningful and reoccurring way.
          </p>
        </div>
        <div class='faq-text-box'>
          <p class='faq-subheading sofiabold h4 dgray'>Team Give One</p>
          <p class='faq-text h5 lgray pt1'>
            Gin Lane, Bond Street Hospitality, The Setting, Lola New York, Samantha Orley, AGW Group, Dmitri Vassilev, Sanctuary Computer & <span class='velure'>You.</span>
          </p>
        </div>
        <div class='faq-text-box'>
          <p class='faq-subheading sofiabold h4 dgray'>How we operate</p>
          <p class='faq-text h5 lgray pt1'>
            Give One is a non-profit federal tax-exempt organization under section 501(c)(3) of the Internal Revenue Code, EIN 81-4924613, so all of your donations are tax deductible.
          </p>
          <p class='faq-text h5 lgray pt1'>
            The money you donate goes directly to the selected charities. We don’t take a penny.
          </p>
          <p class='faq-text h5 lgray pt1'>
            We’re run by a team of volunteers, and all of our administrative costs are supported by private philanthropy which enables us to ensure every dollar raised goes directly to supporting the causes you care about most. Interested in supporting the platform? You can reach us at <span class='velure'>hello@give-one.org↳.</span> We’d love to continue the conversation!
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
