.footer {
  .footer-first-box {
    flex-direction: column;
    @media #{$medium-break} {
      flex-direction: row;
      padding-left: 4rem;
      padding-right: 4rem;
    }
    .arrow{

    }
    .give-footer-title{
      font-size: 40px;
      @media #{$small-break} {
        p{
          font-size: 48px;
          line-height: 24px;
        }
      }
    }
  }
  .footer-second-box{
    flex-direction: column;
    @media #{$small-break} {
    flex-direction: row;
    }
    .right-aligned-text{
      text-align: left;
      @media #{$small-break} {
        text-align: right;
      }
    }
  }
}
